<% include partials/header %>

<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <%lifes.forEach((result)=> {%>
          <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card" style="max-width: 22rem;" style="max-height: 36rem;">
            <div class="card-header">
                Featured

            </div>
            <div class="card-body">
                <h5 class="card-title"><%= result.name %></h5>
                <p class="card-text"><%= result.description %></p>
                <a href="/life/<%= result._id %>" class="btn btn-primary">More Info</a>
                
            </div>
            <div class="card-footer text-muted">
                    <%= result.created %>
            </div>
          </div>
          </div>
          <% }); %>
     </div>

</div>

<%include partials/footer %>